<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="#" >{{getTitle()}}</a>
        </div>
        <i class="fa fa-bars">
                <ul class="nav responsive-nav">
                        <li class="separator hidden-lg hidden-md"></li>
                        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}}">
                            <a  [routerLink]="[menuItem.path]">
                                <i class="{{menuItem.icon}}"></i>
                                <p>{{menuItem.title}}</p>
                            </a>
                        </li>
                    </ul>
        </i>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-left">



                        <p class="hidden-lg hidden-md">{{getTitle()}}</p>


                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-globe"></i>
                        <b class="caret"></b>
                        <span class="notification hidden-sm hidden-xs">5</span>
                        <p class="hidden-lg hidden-md">
                            5 Notifications
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu ">
                        <li><a href="#">Notification 1</a></li>
                        <li><a href="#">Notification 2</a></li>
                        <li><a href="#">Notification 3</a></li>
                        <li><a href="#">Notification 4</a></li>
                        <li><a href="#">Another notification</a></li>
                    </ul>
                </li>
                <li>





                        <form class="form-inline my-2 my-lg-0 ">
                                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            
                             <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                              </form>

                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <p>
                            Megara suite
                            <b class="caret"></b>
                        </p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">MegaCor</a></li>
                        <li><a href="#">MegaCommon</a></li>
                        <li><a href="#">MegaCustody</a></li>
                        <li><a href="#">MegaTrade</a></li>
                        <li><a href="#">MegaFct</a></li>
                        <li><a href="#">MegaLend</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Others</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <p>Log out</p>
                    </a>
                </li>
                <li class="separator hidden-lg hidden-md"></li>
            </ul>
        </div>
    </div>
</nav>
